@model ActivityProjectManage.Models.Project
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "myform", name = "myform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDeleted)
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.EditorFor(model => model)



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function AddAct() {
        
        $("#myform").attr("action", '@Url.Action("AddActivity", "Projects")');
        $("#myform").submit();
    }
    function DeleteAct(m) {
        m.value = true;
        $("#myform").attr("action", '@Url.Action("DeleteActivity", "Projects")');
        $("#myform").submit();
    }
    function AddSubAct(m) {
        m.value = true;
        $("#myform").attr("action", '@Url.Action("AddSubActivity", "Projects")');
        $("#myform").submit();
    }
</script>
