@model ActivityProjectManage.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "myform", name = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.UpdateDate)
        @Html.HiddenFor(m => m.IsDeleted)
        @Html.HiddenFor(m => m.isAddInEdit)
        @Html.HiddenFor(m => m.StartAndEndDate)


        @Html.EditorFor(model => model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function AddActEdit() {
        $("#myform").attr("action", '@Url.Action("AddActivityEdit", "Projects")');
        $("#myform").submit();
    }
    function DeleteAct(m) {
        m.value = true;
        $("#myform").attr("action", '@Url.Action("DeleteActivityEdit", "Projects")');
        $("#myform").submit();
    }
    function AddSubAct(m) {
        m.value = true;
        $("#myform").attr("action", '@Url.Action("AddSubActivityEdit", "Projects")');
        $("#myform").submit();
    }
</script>

